<head>
<% if logged_in? %>
      <script>
        window.currentUser = <%= render("api/users/user.json.jbuilder", user: current_user).html_safe %>
      </script>
    <% end %>
</head>

<div id="root">
    <h1>React is broken! for real!</h1>
</div>