/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import 'reset.scss'; 
@import 'nav_bar.scss'; 
@import 'session_form.scss'; 
@import 'map.scss'; 
@import 'map_index.scss'; 

html,body {
    height: 100%; 
    font-family: 'Rubik Mono One', sans-serif; 
}

.footer {
    display: flex; 
    justify-content: space-around; 
    padding-top: 40px; 
    font-family: 'Rubik Mono One', sans-serif; 
    font-size: 14px;
    background-color: #242428; 
    color: #fff; 
    width: 100%; 
    height: 200px; 
}

footer h1 {
    color: #6d6d78;    
}

.app-information {
    width: 300px; 
    font-size: 12px; 
    font-weight: 100; 
}

.profile-links {
    width: 300px; 
}

footer a {
    margin-bottom: 10px; 
    margin-left: 5px; 
    font-size: 12px; 
    display: block; 
    color: white; 
    text-decoration: none; 
    font-weight: 100; 
}

.footer-icon {
    margin-right: 7px; 
}

footer a:hover {
    text-decoration: underline; 
}