.dashboard { 
    display: flex; 
    min-height: 600px; 
    background-color: #f7f7fa; 
    padding-left: 50px; 
    padding-right: 50px;
    padding-bottom: 20px; 
    justify-content: space-around; 
}

#profile-container { 
    width: 300px; 
}
.workout-dash-container { 
    width: 600px; 
    height: 800px; 
    overflow-x: hidden; 
}   

.feed-header {
    font-size: 17px; 
    padding-top: 15px; 
    margin-left: 10px; 
    margin-bottom: 10px; 
    font-weight: 300; 
}
.dashboard-profile { 
    // display: block; 
}

.profile-summary { 
    height: 200px; 
    width: 250px;
    margin-top: 50px; 
    padding: 10px;
    background-color: #fff; 
    border-radius: 4px; 
    position: relative; 
}

.profile-icon {
    position: absolute; 
    top: -30px; 
    left: 102px; 
    background-color: white;
    border-radius: 50px; 
    box-shadow: 0px 4px 6px #494945; 
}

#profile-icon {
    color: #494945; 
    line-height: 49px; 
}

.profile-header {
    display: flex; 
    margin-left: 25px; 
    margin-top: 50px;
    font-weight: 600;  
    font-size: 22px; 
    width: 200px; 
    padding-bottom: 15px; 
    border-bottom: 1px solid #f7f7fa;
}
.profile-tile-body {
    display: flex; 
    justify-content: space-around; 
    margin-top: 30px; 
}
.profile-stat {
    color: #494945; 
    display: flex; 
    text-align: center;  
}

.profile-subtext {
    color: #494945;
    justify-content: center; 
    font-size: 15px; 
    text-decoration: none; 
}


.profile-text {
    font-size: 25px; 
    font-weight: 400; 
}

.profile-subtext:hover .profile-text {
    color: #007fb6
}

.dashboard-totals {
    height: 200px; 
    width: 250px; 
    margin-top: 10px; 
    padding: 10px;
    background-color: #fff; 
}

.stat-block { 
    display: flex; 
    justify-content: space-between; 
    // align-items: center; 
    margin-top: 20px; 
    margin-bottom: 30px; 
}

.stat-block-icon {
    width: 60px; 
    height: 60px; 
    color: #494945;
}

.stat-block-label {
    color: #494945; 
    font-size: 12px; 
}

.stat-total {
    font-size: 20px; 
}

.stat-block-info {
    width: 155px; 
}