header {
    display: flex; 
    justify-content: space-between; 
    border-bottom: 1px solid #f0f0f5;
}

.header-logo {
    color: #fc5200; 
    font-family: 'Rubik Mono One', sans-serif; 
    font-weight: 900; 
    display: block; 
    font-size: 25px; 
    padding: 15px 10px 15px 10px; 
    background-image: image-url('logo.png'); 
    background-size: contain;
    background-repeat: no-repeat; 
    background-position: center; 
    margin-left: 15px; 
    height: 25px; 
    width: 115px;  
}

.session-button {
    font-style: bold; 
    font-family: 'Rubik Mono One', sans-serif; 
    font-size: 12px; 
    color: #fff; 
    padding: 6px 16px 6px 16px; 
    /* border-color: #fc5200;  */
    border-style: none; 
    margin: 4px; 
    background-color: #fc5200; 
    border-radius: 4px; 
    cursor: pointer; 
    justify-content: center; 
    text-decoration: none; 
}

.session-button:hover {
    background-color: rgb(235, 76, 0); 
}

.nav-right {
    margin-top: 10px; 
    margin-right: 20px; 
    display: flex;
}

#submit-logout {
    border-style: none; 
}

.nav-body {
    display: flex; 
    justify-content: space-between; 
    width: 90%; 
}

.nav-left {
    margin-left: 10px; 
    display: flex; 
    height: 100%; 
    width: 240px; 
}


.nav-menu-anchor, .nav-menu-link { 
    font-family: 'Rubik Mono One', sans-serif;
    font-size: 14px; 
    color: #494950; 
    text-decoration: none; 
}

.nav-menu-trigger {
    // margin-left: 15px; 
    position: relative;  
    display: block; 
    height: 100%; 
    width: 100px; 
}

.nav-menu-anchor { 
    justify-content: center; 
    position: static; 
    display: flex; 
    align-items: center; 
    width: 100%; 
    height: 100%; 
    border-left: 1px solid white; 
    border-right: 1px solid white;
}

.nav-menu-trigger:hover .nav-menu-anchor {
    color: #fc5200; 
    border-left: 1px solid #d3d3d3; 
    border-right: 1px solid #d3d3d3; 
}

.dropdown {
    display: none; 
    top: 55px; 
    position: absolute; 
    z-index: 2; 
    width: 120px; 
    text-align: left; 
    border: 1px solid #d3d3d3; 
    border-top: none;  
    background-color: white;
}

.dropdown:before {
    content: '';
    width: 20px;
    height: 1px;
    background: #d3d3d3;
    position: absolute;
    top: 0px;
    right: 0px; 
}
.nav-menu-trigger:hover .dropdown {
    display: block; 
}

.nav-menu-link {
     display: block; 
     height: 40px; 
     padding-top: 15px; 
     padding-left: 8px; 
     align-items: center; 
     background-color: white; 
}

.nav-menu-link:hover {
    background-color: #f0f0f0; 
}
