.form-type {
    background: rgba(0, 0, 0, 0.5); 
    padding: 20px 50px; 
    margin: 0 auto; 
    color: white; 
    font-size: 34px; 
    width: 280px; 
    font-family: 'Rubik Mono One', sans-serif;
    border-radius: 4px; 
}

.form-container {
    text-align: center; 
    background: #242428; 
    height: 600px; 
}

#submit{
    border-style: none; 
}

.input-field {
    padding: 5px 10px; 
    font-size: 15px; 
    border: 1px solid #666; 
    background: rgba(0, 0, 0, 0.5); 
    color: #CCC; 
    font-family: Arial, Helvetica, sans-serif; 
}

.input-field:focus {
    box-shadow: 0 0 8px 0 rgba(255, 255, 255, 0.8); 
    border: 1px solid rgba( 0, 0, 0, 0.5); 
    color: #333; 
    background: rgba(255, 255, 255, 0.9);
}