.splash-container {
    text-align: center; 
    margin: 0 auto; 
}

.splash-header {
    font-family: inherit; 
    margin-top: 80px; 
    font-size: 48px; 
    font-weight: 550; 
}

.splash-body {
    display: flex; 
    justify-content: space-around; 
}

.splash-image {
    background-image: image-url('splash.jpg');
    background-repeat: no-repeat; 
    background-position: center; 
    background-size: contain; 
    height: 600px; 
    width: 400px; 
}

.splash-menu {
    margin-top: 150px; 
    width: 400px; 
}
#splash-demo {
    color: #242428; 
    border: 1px solid #dfdfe8; 
    background-color: #fff; 
    height: 70px; 
    width: 400px; 
    font-size: 15px; 
    position: relative; 
    margin: 0; 
}

#splash-demo:hover {
    background-color: #f7f7fa; 
    border-color: #6d6d78; 
}

.splash-form {
    margin-top: 15px; 
    margin-bottom: 15px; 
}
.splash-login-link {
    text-decoration: none; 
    color: black; 
} 

.splash-icon { 
    position: absolute; 
    left: 35px; 
}

.splash-dividing-border { 
    border-bottom: 1px solid #dfdfe8; 
    position: relative; 
}

.splash-dividing-or {
    color: #242428; 
    position: absolute; 
    background-color: #fff; 
    bottom: -8px; 
    width: 20px; 
    right: 200px; 
}

.splash-body footer {
    margin-top: 5px; 
    font-family: inherit; 
    font-size: 12px; 
    color: #494945; 
}

.splash-link {
    text-decoration: none;
    color: #007fb6; 
}

.footer {
    background-color: #242428; 
    color: #fff; 
    font-size: 10px; 
    width: 100%; 
    height: 200px; 
}